<div class="filter" *ngIf="authService.isAdmin()">
<mat-form-field appearance="outline">
  <mat-label>Filter by status</mat-label>
  <mat-select [(value)]="selectedStatus" (selectionChange)="getBookingsBySelectedStatus($event)">
    <mat-option></mat-option>
    <mat-option [value]="status" *ngFor="let status of statusTypesArray">
      {{status | capitalizedWord}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

<table mat-table [dataSource]="bookings" class="mat-elevation-z8" *ngIf="authService.isAdmin()">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>id</th>
    <td mat-cell *matCellDef="let booking">{{booking.id}}</td>
  </ng-container>

  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef>User id</th>
    <td mat-cell *matCellDef="let booking">{{booking.userId}}</td>
  </ng-container>

  <ng-container matColumnDef="personCount">
    <th mat-header-cell *matHeaderCellDef>Person count</th>
    <td mat-cell *matCellDef="let booking">{{booking.personCount}}</td>
  </ng-container>

  <ng-container matColumnDef="roomType">
    <th mat-header-cell *matHeaderCellDef>Room type</th>
    <td mat-cell *matCellDef="let booking">{{booking.roomType | capitalizedWord}}</td>
  </ng-container>

  <ng-container matColumnDef="stayTimeStart">
    <th mat-header-cell *matHeaderCellDef>Stay time start</th>
    <td mat-cell *matCellDef="let booking">
      {{booking.stayTimeStart.toISODate()}}
    </td>
  </ng-container>

  <ng-container matColumnDef="stayTimeEnd">
    <th mat-header-cell *matHeaderCellDef>Stay time end</th>
    <td mat-cell *matCellDef="let booking">
      {{booking.stayTimeEnd.toISODate()}}
    </td>
  </ng-container>

  <ng-container matColumnDef="bookingDate">
    <th mat-header-cell *matHeaderCellDef>Booking date</th>
    <td mat-cell *matCellDef="let booking">
      {{booking.bookingDate | date:'dd-MM-yyyy, h:mm a'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="adminId">
    <th mat-header-cell *matHeaderCellDef>Admin id</th>
    <td mat-cell *matCellDef="let booking">{{booking.adminId}}</td>
  </ng-container>

  <ng-container matColumnDef="roomId">
    <th mat-header-cell *matHeaderCellDef>Room id</th>
    <td mat-cell *matCellDef="let booking">{{booking.roomId}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="padding-left-40">Actions</th>
    <td mat-cell *matCellDef="let booking">
      <button mat-stroked-button (click)="confirmBooking(booking)">Approve</button>
      <button class="margin-4" mat-stroked-button color="warn" (click)="declineBooking(booking.id)">Decline</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
</table>
