:host {
  flex: 1 0 0;
}

div.add-pet {
  margin: 8px 8px 8px 0;
  display: flex;
  justify-content: center;
}

button.margin-4 {
  margin: 4px;
}

div.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

th.padding-left-40 {
  padding-left: 40px;
}
