:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;

  app-header {
    display: flex;
    flex: 0 0 100px;
  }

  app-footer {
    display: flex;
    flex: 0 0 0;
    justify-content: center;
  }

}
