:host {
  flex: 1 0 0;
}

form.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}

.make-book {
  margin-top: 15px;
}
